M06 Exercise
Haejin Son

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns

In [22]:
np.__version__

'1.24.4'

In [17]:
df = pd.DataFrame({
    'feature':[1.0,2.0,3.0,4.0,5.0]}, 
    'labels':[1,1,0,2])

SyntaxError: invalid syntax (2632240561.py, line 3)

In [14]:
df=df.rename(columns={'labels':'label'})

NameError: name 'df' is not defined

In [13]:
df

NameError: name 'df' is not defined

In [23]:
iris=sns.load_dataset('iris')

In [25]:
iris.sort_values('species',ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

In [27]:
iris.value_counts('species').to_frame('n')

             n
species
setosa      50
versicolor  50
virginica   50

In [29]:
len(iris[(iris.petal_length<=1.4) |
         (iris.petal_length>=1.6)])

137

In [33]:
iris['min_petal']=iris.apply(lambda x: min(x.petal_length, x.petal_width),
           axis=1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  min_petal
0           5.1          3.5           1.4          0.2  setosa        0.2
1           4.9          3.0           1.4          0.2  setosa        0.2
2           4.7          3.2           1.3          0.2  setosa        0.2
3           4.6          3.1           1.5          0.2  setosa        0.2
4           5.0          3.6           1.4          0.2  setosa        0.2

In [35]:
iris.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal
145,6.7,3.0,5.2,2.3,virginica,2.3
146,6.3,2.5,5.0,1.9,virginica,1.9
147,6.5,3.0,5.2,2.0,virginica,2.0
148,6.2,3.4,5.4,2.3,virginica,2.3
149,5.9,3.0,5.1,1.8,virginica,1.8

In [36]:
sum(iris.petal_length<=iris.petal_width)

0

In [39]:
pd.pivot_table(iris,
                values=["sepal_width","petal_width"],
               columns=["species"],
               aggfunc={np.mean, np.median}) ##Braces group rows

species             setosa  versicolor  virginica
petal_width mean     0.246       1.326      2.026
            median   0.200       1.300      2.000
sepal_width mean     3.428       2.770      2.974
            median   3.400       2.800      3.000

In [40]:
pd.pivot_table(iris,
                values=["sepal_width","petal_width"],
               columns=["species"],
               aggfunc=[np.mean, np.median])

              mean                      median
species     setosa versicolor virginica setosa versicolor virginica
petal_width  0.246      1.326     2.026    0.2        1.3       2.0
sepal_width  3.428      2.770     2.974    3.4        2.8       3.0

In [41]:
pd.pivot_table(iris,
                values=["sepal_width","petal_width"],
               columns=["species"],
               aggfunc=[np.mean, np.median]).T ##Brackets groups cols

                   petal_width  sepal_width
       species
mean   setosa            0.246        3.428
       versicolor        1.326        2.770
       virginica         2.026        2.974
median setosa            0.200        3.400
       versicolor        1.300        2.800
       virginica         2.000        3.000

In [44]:
inner=pd.merge(left,right,on="key",how="inner")
inner

NameError: name 'left' is not defined